[server1]
type=server
address=127.0.0.1
port=4001
protocol=MariaDBBackend

[server2]
type=server
address=127.0.0.1
port=4003
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=root
passwd=

[Sharded-Service]
type=service
router=schemarouter
servers=server1,server2
user=root
passwd=

[Shard-A-Listener]
type=listener
service=Sharded-Service
protocol=MariaDBClient
port=4000
